<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cambiar Contraseña</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="usuarioPasswordForm" (ngSubmit)="actualizarPassword()">
      <div class="form-group">
        <label for="direccion">Antigua Contraseña</label>
        <input type="password" [class.is-invalid]="usuarioPasswordForm.get('oldPassword').touched && usuarioPasswordForm.get('oldPassword').invalid" formControlName="oldPassword"  class="form-control" required>
      </div>
      <div class="form-group">
          <label for="provincia">Nueva Contraseña</label>
          <input type="password" [class.is-invalid]="usuarioPasswordForm.get('password').touched && usuarioPasswordForm.get('password').invalid" formControlName="password"  class="form-control" required>
      </div>
      <div class="modal-footer">
        <div *ngIf="usuarioPasswordForm.touched && isFail" class="alert alert-danger mt-3">Error: {{ errorMsg }}</div>
        <button type="button" class="btn btn-secondary" (click)="modalService.close()">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="usuarioPasswordForm.invalid">Guardar</button>
      </div>
    </form>
  </div>
  