<div class="container animated fadeIn">
    <div class="row">
        <div class="col-6">
            <p>{{cliente.nombre}} {{cliente.apellidos}}</p>
            <p>{{cliente.dni}}</p>
        </div>
        <div class="col">
        <a (click)="addContacto()" class="btn btn-success">Añadir Contacto</a>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Acción</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem (click)="editarCliente()">Editar</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="borrarCliente()">Borrar</button>
            </div>
          </div>
            <div class="card">
                <h5 class="card-header">Contactos</h5>
                <div class="card-body">
                    <table class="table" *ngIf="cliente.contactos">
                        <tbody>
                            <tr *ngFor="let contacto of cliente.contactos">
                                <td *ngIf="contacto.tipo == 'TELEFONO'"><i class="fas fa-phone-alt"></i><a href="tel:{{contacto.dato}}">{{contacto.dato}}</a></td>
                                <td *ngIf="contacto.tipo == 'EMAIL'"><i class="fas fa-envelope"></i><a href="mailto:{{contacto.dato}}">{{contacto.dato}}</a></td>
                                <td>
                                   <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Acción</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                          <button ngbDropdownItem (click)="editarContacto(contacto)">Editar</button>
                                          <div class="dropdown-divider"></div>
                                          <button ngbDropdownItem (click)="borrarContacto(contacto)">Borrar</button>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

