<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear Marca</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="aparatoMarcaForm" (ngSubmit)="guardarAparatoMarca()">
      <div class="form-group">
        <label for="idEmpresa">Nombre</label>
        <input type="text" formControlName="nombre" [class.is-invalid]="aparatoMarcaForm.get('nombre').touched && aparatoMarcaForm.get('nombre').invalid" class="form-control" uppercase required>
      </div>
      <div class="modal-footer">
        <div *ngIf="aparatoMarcaForm.touched && isFail" class="alert alert-danger mt-3">Error: {{ errorMsg }}</div>
        <button type="button" class="btn btn-secondary" (click)="modalService.close()">Cerrar</button>
        <button type="submit" class="btn btn-primary" [disabled]="aparatoMarcaForm.invalid">Crear</button>
      </div>
    </form>
  </div>
  