<div class="container animated fadeIn">
    <div class="row">
        <div class="col">
            <a (click)="nuevoAparato()" class="btn btn-success">Crear Aparato</a>
        </div>
        <div class="col">
            <a (click)="nuevaMarca()" class="btn btn-success">Crear Marca</a>
        </div>
        <div class="col">
            <a (click)="nuevoTipo()" class="btn btn-success">Crear Tipo</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-hover" datatable [dtOptions]="dtOptions" *ngIf="aparatos">
                <thead>
                    <tr>
                        <th scope="col">Tipo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let aparato of aparatos">
                        <td>{{aparato.tipo.nombre}}</td>
                        <td>{{aparato.marca.nombre}}</td>
                        <td>{{aparato.modelo}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

