<div class="container animated fadeIn">
  <div class="row">
    <div class="col">
      <ngb-alert *ngIf="orden.estado && (orden.citas | json) == '[]'" type="warning" [dismissible]="false">
        <strong>Atención!</strong> Esta orden no ha sido citada aun!
      </ngb-alert>

      <ng-container *ngIf="orden.estado && (orden.citasPendientes | json) !== '[]'">
        <ngb-alert *ngFor="let cita of orden.citasPendientes" type="info" [dismissible]="false">
          Tienes una cita el dia <strong>{{cita.fecha | date: 'd/M/yyyy'}}</strong> a las <strong>{{cita.fecha | date: 'H:mm'}}H </strong><button (click)="borrarCita(cita)" class="btn btn-danger btn-sm">Anular</button>
        </ngb-alert>
      </ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <p><strong>Nº:</strong> {{orden.empresa.prefijoOrdenes}}{{orden.orden}}
        <span *ngIf="orden.estado && (orden.citasPendientes | json) == '[]' && (orden.citas | json) == '[]'" class="badge badge-danger">Sin citar</span>
        <span *ngIf="orden.estado && (orden.citasPendientes | json) !== '[]' && (orden.citas | json) !== '[]'" class="badge badge-warning">Citada</span>
        <span *ngIf="orden.estado && (orden.citas | json) !== '[]' && (orden.citasPendientes | json) == '[]'" class="badge badge-light">Visitada</span>
      </p>
      <p><strong>Dirección: </strong><a [routerLink]="['/viviendas/ver', orden.vivienda.idVivienda]">{{orden.vivienda.direccion}}</a></p>
      <p><strong>Asunto:</strong> {{orden.asunto}}</p>
      <p><strong>Fecha:</strong> {{orden.fecha | date: 'd/M/yyyy'}}</p>
      <p><strong>Empresa: </strong><a [routerLink]="['/empresas/ver', orden.empresa.idEmpresa]">{{orden.empresa.nombreComercial}}</a></p>
    </div>
    <div class="col-4">
      <a *ngIf="orden.estado" (click)="addOrdenCita()" class="btn btn-primary">Nueva Cita</a>
      <a *ngIf="orden.estado" (click)="addOrdenLinea()" class="btn btn-success">Añadir Linea</a>
      <a *ngIf="orden.estado" (click)="cambiarEstadoOrden(orden.idOrden)" class="btn btn-danger">Cerrar Orden</a>
      <a *ngIf="!orden.estado" (click)="cambiarEstadoOrden(orden.idOrden)" class="btn btn-secondary">Abrir Orden</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3>Lineas</h3>
      <table class="table" *ngIf="orden.lineas">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Concepto</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let linea of orden.lineas">
            <td>{{linea.fecha | date: 'd/M/yyyy'}}</td>
            <td>{{linea.concepto}}</td>
            <td><button *ngIf="orden.estado" (click)="borrarOrdenLinea(linea)" class="btn btn-danger btn-sm">Borrar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

