
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Crear Cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalService.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="viviendaForm" (ngSubmit)="guardarVivienda()">
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input [class.is-invalid]="viviendaForm.get('direccion').touched && viviendaForm.get('direccion').invalid" type="text" class="form-control" formControlName="direccion" name="direccion" placeholder="Direccion" required>
    </div>
    <div class="form-group">
      <label for="localidad">Localidad</label>
      <input [class.is-invalid]="viviendaForm.get('localidad').touched && viviendaForm.get('localidad').invalid" type="text" class="form-control" formControlName="localidad" name="localidad" placeholder="Localidad" required>
    </div>
    <div class="form-group">
      <label for="provincia">Provincia</label>
      <input [class.is-invalid]="viviendaForm.get('provincia').touched && viviendaForm.get('provincia').invalid"  type="text" class="form-control" formControlName="provincia" name="provincia" placeholder="Provincia" required>
    </div>
    <div class="form-group">
      <label for="idPropietario">Propietario</label>
      <select [class.is-invalid]="viviendaForm.get('propietario').touched && viviendaForm.get('propietario').invalid" class="form-control" formControlName="propietario" name="propietario">
        <option [ngValue]="null" selected>--- Sin Propietario ---</option>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{cliente.dni}} - {{cliente.nombre}} {{cliente.apellidos}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="idInquilino">Inquilino</label>
      <select [class.is-invalid]="viviendaForm.get('inquilino').touched && viviendaForm.get('inquilino').invalid" class="form-control" formControlName="inquilino" name="inquilino">
        <option [ngValue]="null" selected>--- Sin Inquilino ---</option>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">{{cliente.dni}} - {{cliente.nombre}} {{cliente.apellidos}}</option>
      </select>
    </div>
    <div class="modal-footer">
      <div *ngIf="viviendaForm.touched && isFail" class="alert alert-danger mt-3">Error: {{ errorMsg }}</div>
      <button type="button" class="btn btn-secondary" (click)="modalService.close()">Cerrar</button>
      <button type="submit" class="btn btn-primary" [disabled]="viviendaForm.invalid">Crear</button>
    </div>
  </form>
</div>
