<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Editar Cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalService.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="clienteForm" (ngSubmit)="actualizarCliente()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" [class.is-invalid]="clienteForm.get('nombre').touched && clienteForm.get('nombre').invalid" formControlName="nombre" class="form-control" uppercase required>
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos</label>
      <input type="text" [class.is-invalid]="clienteForm.get('apellidos').touched && clienteForm.get('apellidos').invalid" formControlName="apellidos" class="form-control" uppercase required>
    </div>
    <div class="form-group">
      <label for="dni">DNI</label>
      <input type="text" [class.is-invalid]="clienteForm.get('dni').touched && clienteForm.get('dni').invalid" formControlName="dni" class="form-control" uppercase required>
    </div>
    <div class="modal-footer">
      <div *ngIf="clienteForm.touched && isFail" class="alert alert-danger mt-3">Error: {{ errorMsg }}</div>
      <button type="button" class="btn btn-secondary" (click)="modalService.close()">Cerrar</button>
      <button type="submit" class="btn btn-primary" [disabled]="clienteForm.invalid">Guardar</button>
    </div>
  </form>
</div>
