<div class="row">
  <div class="col">
    <p>{{vivienda.direccion}}</p>
    <p>{{vivienda.localidad}}, {{vivienda.provincia}}</p>
    <p *ngIf="vivienda.propietario">
      Propietario: <a [routerLink]="['/clientes/ver', vivienda.propietario.idCliente]">{{vivienda.propietario.nombre}}
        {{vivienda.propietario.apellidos}}</a>
    </p>
    <p *ngIf="vivienda.inquilino">
      Inquilino: <a [routerLink]="['/clientes/ver', vivienda.inquilino.idCliente]">{{vivienda.inquilino.nombre}}
        {{vivienda.inquilino.apellidos}}</a>
    </p>
  </div>
  <div class="col">
    <a [routerLink]="['/viviendas/editar/', vivienda.idVivienda]" class="btn btn-warning">Editar</a>
    <a (click)="addViviendaAparato()" class="btn btn-info">Añadir Aparato</a>
    <a (click)="nuevaOrden()" class="btn btn-success">Crear Orden</a>
    <h3>Aparatos</h3>
    <table class="table" *ngIf="vivienda.aparatos">
      <thead>
        <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aparato of vivienda.aparatos">
          <td>{{aparato.aparato.tipo.nombre}}</td>
          <td>{{aparato.aparato.marca.nombre}}</td>
          <td>{{aparato.aparato.modelo}}</td>
          <td><button (click)="borrarViviendaAparato(aparato)" class="btn btn-danger btn-sm">Borrar</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Ordenes</h3>
    <table class="table" *ngIf="vivienda.ordenes">
      <thead>
        <tr>
          <th scope="col">Orden</th>
          <th scope="col">Estado</th>
          <th scope="col">Asunto</th>
          <th scope="col">Empresa</th>
          <th scope="col">Fecha</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of vivienda.ordenes | sortBy:'desc': 'fecha'">
          <td>{{orden.empresa.prefijoOrdenes}}{{orden.orden}}</td>
          <td>
            <span *ngIf="orden.estado && (orden.citasPendientes | json) == '[]' && (orden.citas | json) == '[]'" class="badge badge-danger">Sin citar</span>
            <span *ngIf="orden.estado && (orden.citasPendientes | json) !== '[]' && (orden.citas | json) !== '[]'" class="badge badge-warning">Citada</span>
            <span *ngIf="orden.estado && (orden.citas | json) !== '[]' && (orden.citasPendientes | json) == '[]'" class="badge badge-light">Visitada</span>
          </td>
          <td>{{orden.asunto}}</td>
          <td>{{orden.empresa.nombreComercial}}</td>
          <td>{{orden.fecha | date: 'd/M/yyyy'}}</td>
          <td><a [routerLink]="['/ordenes/ver', orden.idOrden]" class="btn btn-info btn-sm">Ver</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
