<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Añadir Contacto</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalService.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="guardarClienteContacto()" #addContacto="ngForm">
    <div class="form-group">
      <label for="">Telefono</label>
      <input type="number" class="form-control" [(ngModel)]="clienteContacto.telefono" name="telefono" placeholder="Numero de telefono" required>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" [(ngModel)]="clienteContacto.email" name="email" placeholder="Correo electrónico" required>
    </div>
    <div class="form-group">
      <label for="">Información</label>
      <input type="text" class="form-control" [(ngModel)]="clienteContacto.contacto" name="contacto" placeholder="Sobre este contacto" required>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalService.dismiss()">Cerrar</button>
      <button type="submit" class="btn btn-primary" [disabled]="!addContacto.valid">Añadir</button>
    </div>
  </form>
</div>
