<div class="container animated fadeIn">
    <div class="row">
        <div class="col-6">
            <p>{{empresa.nombreComercial}}</p>
        </div>
        <div class="col">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Acción</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="addContacto()">Añadir Contacto</button>
              <button ngbDropdownItem (click)="editarEmpresa()">Editar Empresa</button>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="borrarEmpresa()">Borrar</button>
            </div>
          </div>
            <div class="card">
                <h5 class="card-header">Contactos</h5>
                <div class="card-body">
                    <table class="table" *ngIf="empresa.telefonos">
                        <tbody>
                            <tr *ngFor="let telefono of empresa.telefonos">
                                <td><i class="fas fa-phone-alt"></i><a href="tel:{{telefono.telefono}}">{{telefono.telefono}}</a></td>
                                <td>{{telefono.informacion}}</td>
                                <td>
                                   <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Acción</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                          <button ngbDropdownItem (click)="borrarTelefono(telefono)">Borrar</button>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table" *ngIf="empresa.emails">
                        <tbody>
                            <tr *ngFor="let email of empresa.emails">
                                <td><i class="fas fa-envelope"></i><a href="mailto:{{email.email}}">{{email.email}}</a></td>
                                <td>{{email.informacion}}</td>
                                <td>
                                   <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>Acción</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                          <button ngbDropdownItem (click)="borrarEmail(email)">Borrar</button>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
