<p>{{orden.asunto}}</p>
<p>{{orden.estado}}</p>
<p>{{orden.fecha}}</p>
<p>{{orden.empresa.nombreComercial}}</p>

<h3>Lineas</h3>
<table class="table" *ngIf="orden.lineas">
  <thead>
      <tr>
          <th scope="col">Cantidad</th>
          <th scope="col">Concepto</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let linea of orden.lineas">
          <td>{{orden.lineas.cantidad}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td><a [routerLink]="['/ordenes/ver']" class="btn btn-info">Ver</a></td>
      </tr>
  </tbody>
</table>
