<p>{{orden.asunto}}</p>
<p>{{orden.estado}}</p>
<p>{{orden.fecha}}</p>
<p>{{orden.empresa.nombreComercial}}</p>

<a (click)="addOrdenLinea()" class="btn btn-success">Añadir Linea</a>

<h3>Lineas</h3>
<table class="table" *ngIf="orden.lineas">
  <thead>
      <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Concepto</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let linea of orden.lineas">
          <td>{{linea.fecha}}</td>
          <td>{{linea.concepto}}</td>
          <td><a [routerLink]="['/ordenes/ver']" class="btn btn-info"></a></td>
      </tr>
  </tbody>
</table>
