<p>{{vivienda.direccion}}</p>
<p>{{vivienda.localidad}}</p>
<p *ngIf="vivienda.propietario">
    Propietario: <a [routerLink]="['/clientes/ver', vivienda.propietario.idCliente]">{{vivienda.propietario.nombre}} {{vivienda.propietario.apellidos}}</a>
</p>
<p *ngIf="vivienda.inquilino">
    Inquilino: <a [routerLink]="['/clientes/ver', vivienda.inquilino.idCliente]">{{vivienda.inquilino.nombre}} {{vivienda.inquilino.apellidos}}</a>
</p>

<a [routerLink]="['/viviendas/editar/', vivienda.idVivienda]" class="btn btn-warning">Editar</a>
<a (click)="addViviendaAparato()" class="btn btn-success">Añadir Aparato</a>
<h3>Aparatos</h3>
<table class="table" *ngIf="vivienda.aparatos">
  <thead>
      <tr>
          <th scope="col">Tipo</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let aparato of vivienda.aparatos">
          <td>{{aparato.aparato.tipo.nombre}}</td>
          <td>{{aparato.aparato.marca.nombre}}</td>
          <td>{{aparato.aparato.modelo}}</td>
          <td><button (click)="borrarViviendaAparato(aparato)" class="btn btn-danger">Borrar</button></td>
      </tr>
  </tbody>
</table>
<a (click)="nuevaOrden()" class="btn btn-success">Crear Orden</a>
<h3>Ordenes</h3>
<table class="table" *ngIf="vivienda.ordenes">
    <thead>
        <tr>
            <th scope="col">Orden</th>
            <th scope="col">Asunto</th>
            <th scope="col">Empresa</th>
            <th scope="col">Fecha</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let orden of vivienda.ordenes">
            <td>{{orden.orden}}</td>
            <td>{{orden.asunto}}</td>
            <td>{{orden.empresa.nombreComercial}}</td>
            <td>{{orden.fecha}}</td>
            <td><a [routerLink]="['/ordenes/ver', orden.idOrden]" class="btn btn-info">Ver</a></td>
        </tr>
    </tbody>
</table>
